@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

:root {
  --primary-color: black;
  --background-color: black;
  --success-color: #00FF41;
  --error-color: red;
  --font-family: 'Oxygen Mono', monospace;
}

body {
  background-color: black;
  color: var(--success-color);
  font-family: 'Oxygen Mono', monospace;
  margin: 0 30px;
}

.dashboard-head {
  font-size: 20px;
}

@media (max-width: 730px) {
  body {
    margin: 0 0;
  }
}