:root {
  --modal-duration: 1s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--success-color) !important;
}

.modal-container {
  font-size: 20px;
  background-color:black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.close-btn {
  background: black;
  border: 0;
  font-size: 30px;
  color: var(--success-color);
  position: absolute;
  top: 4px;
  right: 4px;
}

.close-btn:active {
  outline: 0;
  background: var(--success-color);
  border: 0;
  font-size: 30px;
  color: var(--success-color);
  position: absolute;
  top: 4px;
  right: 4px;
}

.close-btn:focus {
  outline: 0;
  background: var(--success-color);
  border: 0;
  font-size: 30px;
  color: black;
  position: absolute;
  top: 4px;
  right: 4px;
}

.fa-times:active {
  color: black;
}

.fa-times:focus {
  color: black;
}

.modal-header {
  text-align: center;
  border: 2px solid var(--success-color);
  background: var(--primary-color);
  color: var(--success-color);
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
  text-transform: uppercase;
}

.modal-header a {
  margin: 0;
  text-decoration: underline;
  color: var(--success-color)
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 2px solid var(--success-color);
  background: var(--primary-color);
  padding: 20px;
}

.modal-content p {
font-size: 18px;
}

.js-registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-group div {
  margin: 0;
}

.form-group label {
  display: block;
  margin-bottom: 15px;
}

button.submit-btn {
  margin: 0;
  width: 100%;
  display: block;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.error-msg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: .8em;
  border: 0;
  color: red;
}

#error-img {
  width: auto;
  height: 1.5em;
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 7px;
  padding: 20px 20px;
  position: relative;
  width: 100%;
}

.form-group label {
  margin: 0;
  font-size: 23px;
}

.form-group input {
  margin: auto;
  border: 2px solid #008F11;
  background-color: #0D0208;
  color: #00FF41;
  padding: 10px;
  width: 95%;
  font-size: 24px;
  font-family: var(--font-family);
}

.form-group input:focus {
  outline: 0;
}

.form-group input::placeholder {
  color: #00FF41;
  font-size: 17px;
}

.form-group input::selection {
  appearance: menulist-button !important;
  background-color: var(--success-color) !important;
  background-image: none !important;
  color: black !important;
}

.form-group.success input {
  border-color: var(--success-color);
}

.form-group.error input {
  border-color: var(--error-color);
}

.form-controls {
  width: 100%;
}

.form-controls button {
  cursor: pointer;
  background-color: black;
  border: 2px solid #008F11;
  border-radius: 2px;
  color: #00FF41;
  display: block;
  font-size: 20px;
  font-family: var(--font-family);
  padding: 10px;
  margin-top: 30px;
  width: 100%;
}

.form-controls button:active {
  border: 2px solid #008F11;
  background-color: var(--success-color);
  color: black;
}

.form-controls button:focus {
  outline: 1px solid #00FF41;
  background-color: var(--success-color);
  color: black;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 780px) {
  .modal {
    width: 340px;
  }

  h3 {
    font-size: 25px;
  }

  .register-head {
    font-size: 14px;
  }

  a.nav-link {
    font-size: 14px;
  }
}