
h1.welcome-head {
  text-align: center;
  margin-bottom: 20px;
}

h3.welcome-desc {
  margin: 50px 0 0 0;
  text-align: center;
}

.welcome-greeting {
  font-size: 40px;
  text-align: center;
}

.welcome-list {
  display: inline-block;
  padding: 10px;
  margin: 30px 10px;
  border: 1px solid var(--success-color);
  list-style: none;
}

.welcome-list > li:first-child {
  text-align: center;
  margin: 10px 0 20px 0;
  text-transform: uppercase;
}

.welcome-list > li {
  margin: 10px 10px;
  text-align: left;
}

.welcome-login-creds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-steps {
  margin: 15px 0;
}

.label-grid {
  display: grid;
  grid-template-columns: auto 350px auto;
}

.favorite-coins-label {
  font-size: 34px;
  text-align: center;
  border: 1px solid var(--success-color);
  padding: 10px;
}

.placeholder-grid {
  display: grid;
  grid-template-columns: auto 500px auto;
}

.favorites-placeholder {
  margin-top: 45px;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  color: black;
  background: var(--success-color);
}

@media (max-width: 780px) {
  h1.welcome-head {
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  h3.welcome-desc {
    text-align: left;
    font-size: 10px;
    margin: 15px 0 0 0;
  }

  p.welcome-steps {
    font-size: 12px;
  }

  .welcome-list > li {
    font-size: 10px;
  }

  .login-creds {
    margin: 15px 0;
    border-bottom: 1px solid var(--success-color);
  }

  .label-grid {
    grid-template-columns: auto 220px auto;
  }

  .favorite-coins-label {
    font-size: 20px;
  }

  .placeholder-grid {
    grid-template-columns: auto 250px auto;
  }

  .favorites-placeholder {
    font-size: 15px;
  }
}
